[submodule "evil"]
	path = evil
	url = ./evil/
[submodule "evil-leader"]
	path = evil-leader
	url = ./evil-leader
[submodule "evil-numbers"]
	path = evil-numbers
	url = ./evil-numbers
[submodule "evil-rails"]
	path = evil-rails
	url = ./evil-rails
[submodule "evil-surround"]
	path = evil-surround
	url = ./evil-surround
